body {
    background-color: #1E90FF;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    margin: 0;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.child {
    background-color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 7px 7px 1px 0px
}
