body {
  background-color: black;
  color: teal;
}

.jumbotron {
  background-color: black;
  margin: 5% 3% 0 3%;
}

.jumbotron h1,
h2 {
  font-weight: bold;
}

.weatherStuff {
  margin: 0 3% 0 3%;
}

footer {
  color:green;
  margin-top: 5%;
}

#tempDesc {
  text-transform: capitalize;
}

img {
  margin-top: 1%;
  transform: scale(2);
}

.tempButton1 {
  padding: 0;
  border: none;
  background: none;
  color:red;
}